*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 64px;
}

body{
    background-color: yellowgreen;
}

main{
    /* margin-top: 200px; */
    background-color: aquamarine;
    height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 5s;
    transition-delay: 2s;
}

main.transicao {
    height: 390px;
}

button{
    margin-top: 10px;
}

article{
    border: 1px solid #000;
    height: 860px;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}